:root {
  --cardwidth: 200px;
}

.datelanggrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.moviecard {
  background-color: var(--lightblack);
  padding: 10px;
  width: var(--cardwidth);
  color: var(--offwhite);
  box-shadow: 5px 10px var(--lightblack);
  transition: all 0.25s ease-in-out;
  margin-bottom: 25px;
}

.moviecard img {
  width: 100%;
}

.moviecard:hover {
  transform: scale(1.1);
}

.moviecard p {
  /*top right bottom left*/
  padding: 0px 5px 0px 20px;
}

.titlecont {
  opacity: 0%;
  color: var(--offwhite);
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    var(--lightblack)
  );
  width: var(--cardwidth);
  height: 285px;
  padding: 10px 0px 5px 0px;
  position: absolute;
  margin-top: 30px;
  transition: all 0.25s ease-in-out;
}

.titlecont:hover {
  opacity: 100%;
  margin-top: 0px;
}

.titlecont p {
  padding: 0px 10px 0px 10px;
  margin-top: -15px;
  text-transform: uppercase;
  text-align: left;
  font-size: small;
}
.titlecont h3 {
  text-transform: uppercase;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titlecont main {
  color: var(--offwhite);
  height: 150px;
  margin-top: 230px;
}

.star {
  color: var(--yellow);
  font-size: 50px;
  position: absolute;
  margin-top: -30px;
  margin-left: -20px;
  rotate: -10deg;
  z-index: 8;
}

.starrating {
  font-size: large;
  font-weight: 900;
  color: var(--lightblack);
  position: absolute;
  margin-top: 25px;
  margin-left: 5px;
  z-index: 9;
}
